@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Nerko+One&display=swap');
/* CSS reset */
*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}
body {
    background-color: #C0EEE4;
    font-family: 'Adamina', serif;
    color: #50577A;
}


#my-avatar{
    width: 200px;
    border-radius: 50%;
}
#content{
    text-align: center;
}
#my-name{
    font-family: 'Nerko One', cursive;
    color: #50577A;
}
#left-side{
    width: 49%;
    display: inline-block
}
#right-side{
    width: 49%;
    display: inline-block;
    text-align: right;
}
header{
    margin-top: 16px;
}
.nav-link{
    margin-left:8px;
}