@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Nerko+One&display=swap');
body {
    background-color:black;
    font-family: 'Adamina', serif;
}

h1,
h2 {
    color:burlywood;
}
p{
color:hwb(93 0% 39%);
}
#my-avatar{
    width: 200px;
    border-radius: 50%;
}
#content{
    text-align: center;
}
#my-name{
    font-family: 'Nerko One', cursive;
}